#header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 400px;
  flex-direction: column;
  background-color: #e8a600;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  color: #FFFFFF;
}

#avatar {
 size: auto;
 
}
.fullname {
  font-size: auto;
}

.on-top-of-header {
  z-index: 100;
}

#last-name {
  font-weight: 300;
}

/*add screen media to make width 100% when max width is 768px and float left*/
@media only screen and (min-width:768px) {
  
  #header {
    width: 30%;
    float: left;
    
  }
}