#nav {
  position: fixed;
  z-index: 1030;
  top: 0;
  right: 0;
  left: 0; 
  bottom: 0;
  background-color: #4056A1;
  height: 120px;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  width: 100%;
}

#logo {
  padding: 1.5em;
  font-family: "bungee";
  font-size: xx-large
}

#new-tweet-header {
  display: flex;
  padding: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  flex-direction: column;
}

#button-in-header {
  display: flex;
  justify-content: center;
}

#button-toggle:hover {
  cursor: pointer;

}

textarea {
  overflow-wrap: break-word;
}

#button-toggle:hover {
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-5px);}
	60% {-webkit-transform: translateY(-5px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-5px);}
	60% {-moz-transform: translateY(-5px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-5px);}
	60% {-o-transform: translateY(-5px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-5px);}
	60% {transform: translateY(-5px);}
}