#nav {
  position: fixed;
  z-index: 1030;
  top: 0;
  right: 0;
  left: 0; 
  bottom: 0;
  background-color: #4056A1;
  height: 120px;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  width: 100%;
}

#logo {
  padding: 1.5em;
  font-family: "bungee";
  font-size: xx-large
}

#new-tweet-header {
  display: flex;
  padding: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  flex-direction: column;
}

#button-in-header {
  display: flex;
  justify-content: center;
}

#button-toggle:hover {
  cursor: pointer;
  transition-property: all;
  transition-property: transform;
}

textarea {
  overflow-wrap: break-word;
}
