.tweet-container {
  display: flex;
  flex-flow: column;
  margin-top: 1em;
  width: 100%;
  border: solid grey;
  padding: 10px;
  border-radius: 25px;
}

#tweet-container-header {
  display: flex;
  flex-flow: row nowrap;
}

.tweet-container:hover {
  transition-duration: 0.3s;
  box-shadow: 3px 3px 5px 6px darkgrey;
}

#flag {
  margin-right: 1em;
  
}
.tweet-container:hover #handle {
  visibility: visible;
}

.tweet-container:hover #bottom-right { 
  visibility: visible;
}
#handle {
  float: right;
  color: lightslategrey;
  margin-left: auto;
  visibility: hidden;
  z-index: 200;
}


#retweet {
  margin-right: 1em;
}

.footer {
  align-items: flex-end;
  font-size: medium;
  border-top: solid grey;
}

#header3 {
  display: flex;
  align-items: center;
  align-content: flex-start;
}

#bottom-right {
  float: right;
  visibility: hidden;
}

#empty-error-text {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: medium;
}

#name {
  margin-left: 1em;
}

@media only screen and (min-width:768px) {
  .container {
    align-items: flex-end;
    width: 70%;
    float: right;
    padding: 3em;
  }
}