.tweet-container {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  margin-top: 1em;
  width: 100%;
  margin-bottom: 5em;
  border: solid grey;
  padding: 10px;
  border-radius: 25px;
}

.tweet-container:hover {
  transition-duration: 0.3s;
  box-shadow: 3px 3px 5px 6px darkgrey;
}
.tweet-container:hover #handle {
  visibility: visible;
}
#handle {
  float: right;
  color: lightslategrey;
  margin-left: auto;
  visibility: hidden
}

.footer {
  align-items: flex-end;
  font-size: medium;
  border-top: solid grey;
}
#header3 {
  display: flex;
  align-items: center;
  align-content: flex-start;
}

#bottom-right {
  float: right;
}

#flag {
  margin-right: 1em;
}

#retweet {
  margin-right: 1em;
}

#name {
  margin-left: 1em;
}